body {
  background-color: #FEF5E6;
  font-family: serif;
}
#Nav_bar{
  background-color: lightgray;
  position: fixed;
  z-index: 1;
  width: 100%;
}
#Nav_name{
  display: flex;
  padding: 0px;
}
#Nav_name li{
  display: inline;
  text-align: center;
  width: 100%;
  height: 100%;
}
#Nav_name li a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}
#Nav_name li a:active{
  color: white;
}
#Projects {
  padding-top : 100px;
  display: grid;
  grid-template-rows : 1fr;
}
.project {
  text-align : center;
  height: 400px;
  margin-right: 10%;
  margin-left: 10%
}
#Go {
  width : 100px;
}
.gameText {
  margin: auto;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
